SUPABASE_URL=https://moutnregywrnvlyqokih.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1vdXRucmVneXdybnZseXFva2loIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTgxODEzMTMsImV4cCI6MjA3Mzc1NzMxM30.Ogj53OpGG34GrpfCCUTcBk5vprgtZV15S6NQfV8lhYQ